@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #38638f;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 95%;
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}